.cart{
    background-color:whitesmoke;
    padding:20px 18px 18px;
    display: flex;
    gap: 10px;
}

.topleftcart{
    padding:20px 15px 15px;
    box-sizing: border-box;
    background-color:#fff;
    flex-direction: column;
    display: flex;
    width: 77%;
}
.topleftcarttitle{
    font-size:28px;
    font-weight:400;
}
.cartpricetextdivider{
    text-align:right;
    font-size:14px;
    color:#565959;
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
}

/* ITEM */
.cartitemblock{
    display:flex;
    gap:20px;
    padding-top:20px;
}

/* IMAGE */
.cartitemleftblockimage img{
    width:180px;
}

/* DETAILS */
.cartitemdetails{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:6px;
}

.cartitemproductname{
    font-size:18px;
    font-weight:500;
    color:#0f1111;
    line-height:1.3;
}

.instockcart{
    color:#007600;
    font-size:12px;
}

.eligiblefreeshop{
    font-size:12px;
    color:#565959;
}

.fullfilling{
    width:66px;
}

.giftoption{
    font-size:12px;
    display:flex;
    gap:6px;
    align-items:center;
}

.learnmore{
    color:#007185;
    cursor:pointer;
}

.learnmore:hover{
    text-decoration:underline;
}

.productmeta{
    font-size:12px;
    color:#0f1111;
}

/* ACTION ROW */
.cartactionrow{
    display:flex;
    align-items:center;
    gap:12px;
    margin-top:6px;
    font-size:12px;
}

/* QTY */
.qtybox{
    display:flex;
    align-items:center;
    gap:10px;
    border:3px solid #f0c14b;
    border-radius:8px;
    padding:4px 8px;
}

.trash{
    cursor:pointer;
}

.plus{
    cursor:pointer;
    font-weight:bold;
}

/* LINKS */
.actionlink{
    color:#007185;
    cursor:pointer;
    position: relative;
    padding-right: 10px;
    margin-right: 10px;
}
.actionlink:not(:last-child)::after {
    content: "|";
    position:absolute;
    right: 1px;
    color: #ddd;
}
.actionlink:hover{
    text-decoration:underline;
}

/* PRICE */
.cartitemprice{
    font-size:18px;
    font-weight:700;
    color:#0f1111;
    white-space:nowrap;
}
/* LINE BETWEEN CART ITEMS */
.cartitemblock + .cartitemblock{
    border-top: 1px solid #e7e7e7;
    margin-top: 20px;
    padding-top: 20px;
}
.toprightcart{
    padding:20px 15px 15px;
    box-sizing: border-box;
    width: 23%;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.subtotaltitle{
    font-size:18px;
    font-weight: 500;
}
.subtotaltitlespan{
    font-weight: 700;
}
.giftaddto{
    display: flex;
    margin: 10px 0;
    font-weight: 400;
    font-size: 15px;
}
.proceedtobuy{
    font-size: 14px;
    background-color: #f8fc0f;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 500;
    
}

